<a href="https://colab.research.google.com/github/KaneahAbagale/Data-structure-algo/blob/main/Test1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#import a library module
#import math

In [ ]:
#use a function from thlibrary
#math.floor(49)

49

In [ ]:
!pip install jovian --upgrade --quiet

In [ ]:
from jovian.pythondsa import evaluate_test_case

In [ ]:
from jovian.pythondsa import evaluate_test_cases

In [ ]:
def locate_card(cards,query):
  pass

In [ ]:
cards = [12,10,9,7,6,5,3,0]
query = 6
output = 4

In [ ]:
result = locate_card(cards,query)
print(result)

None

In [ ]:
result == output

False

In [ ]:
test = {
    'input' : {
        'cards' : [12,10,9,7,6,5,3,0],
        'query' : 6
    },
    'output' : 4
}

In [ ]:
locate_card(**test['input']) == test['output']

False

In [ ]:
tests = []

In [ ]:
#query happens in the middle
tests.append(test)

tests.append ({
    'input' : {
        'cards' : [12,10,9,7,6,5,3,0],
        'query' : 3
    },
    'output' : 6
})

In [ ]:
#query is first element
tests.append ({
    'input' : {
        'cards' : [4,2,1,-1],
        'query' : 4
    },
    'output' : 0
})

In [ ]:
#query is last element
tests.append ({
    'input' : {
        'cards' : [3,-1,-9,-127],
        'query' : -127
    },
    'output' : 3
})

In [ ]:
#list contains just 1 element
tests.append ({
    'input' : {
        'cards' : [6],
        'query' : 6
    },
    'output' : 0
})

In [ ]:
#cards does not contain query
#assume your function will return -1 if cards does not contain query
tests.append ({
    'input' : {
        'cards' : [9,7,5,2,-9],
        'query' : 4
    },
    'output' : -1
})

In [ ]:
#if card array is empty
tests.append ({
    'input' : {
        'cards' : [],
        'query' : 8
    },
    'output' : -1
})

In [ ]:
#numbers can repeat
tests.append ({
    'input' : {
        'cards' : [8,8,6,6,6,6,6,3,2,2,0,0,0],
        'query' : 3
    },
    'output': 7
})

In [ ]:
#the number query occurs more than 1 position
tests.append ({
    'input' : {
        'cards' : [8,8,6,6,6,6,6,3,2,2,0,0,0],
        'query' : 6
    },
    'output' : 2
})

In [ ]:
tests

[{'input': {'cards': [12, 10, 9, 7, 6, 5, 3, 0], 'query': 6}, 'output': 4},
 {'input': {'cards': [12, 10, 9, 7, 6, 5, 3, 0], 'query': 3}, 'output': 6},
 {'input': {'cards': [4, 2, 1, -1], 'query': 4}, 'output': 0},
 {'input': {'cards': [3, -1, -9, -127], 'query': -127}, 'output': 3},
 {'input': {'cards': [6], 'query': 6}, 'output': 0},
 {'input': {'cards': [9, 7, 5, 2, -9], 'query': 4}, 'output': -1},
 {'input': {'cards': [], 'query': 8}, 'output': -1},
 {'input': {'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 0, 0, 0], 'query': 3},
  'output': 7},
 {'input': {'cards': [8, 8, 6, 6, 6, 6, 6, 3, 2, 2, 0, 0, 0], 'query': 6},
  'output': 2}]

In [ ]:
#Solution
def locate_card(cards, query):

  #create a variable with position 0
  position = 0

  #Set up a loop for repetition
  while True:

    #check if current element at the current position match query
    if cards[position] == query:

      #Answer found, return & exist
      return position

      #Increament position
      position += 1

      #check if we reach end of array
      if position == len(cards):

        #number not found return -1
        return -1

In [ ]:
test

{'input': {'cards': [12, 10, 9, 7, 6, 5, 3, 0], 'query': 6}, 'output': 4}

In [ ]:
result = locate_card (test['input']['cards'], test['input']['query']) 
result

In [ ]:
result == output

False

In [ ]:
for test in tests:
  print(locate_card(**test['input']) == test['output'])

In [ ]:
evaluate_test_case(locate_card, test)

In [ ]:
evaluate_test_cases(locate_card, tests)